.participation.card
  .numbers.like-badge
    .number
      span.number.num-votes= question.numLikes
    .button
      a.like(href='#', data-id=participation.id)
        i.fa.fa-thumbs-up
        | 
        | Like

  //.card-body
    .content= participation.content
  .card-body 
     .row  
       .col-4.title 이름 
       .col-8.content 
         if participation.author 
           | #[a(href=`/users/${participation.author.id}`)= participation.author.name] 
  .card-body 
    .row  
      .col-4.title 나이 
      .col-8.content 
        if participation.author 
          | #[a(href=`/users/${participation.author.id}`)= participation.author.age]         
  .card-body 
     .row  
       .col-4.title 동기 
       .col-8.content 
         if participation.author 
           | #[a(href=`/users/${participation.author.id}`)= participation.author.motive]
  .card-body 
    .row  
      .col-4.title note
      .col-8.content 
        if participation.author 
          | #[a(href=`/users/${participation.author.id}`)= participation.author.note]
//  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | participationed on #{moment(participation.createdAt).format('YYYY-MM-DD')}
        if participation.author
          | 
          | by #[a(href=`/users/${participation.author.id}`)= participation.author.name]
