.content= participation.content
  .card-body 
     .row  
       .col-4.title 이름 
       .col-8.content 
         if participation.author 
           | #[a(href=`/users/${participation.author.id}`)= participation.author.name] 
  .card-body 
    .row  
      .col-4.title 나이 
      .col-8.content 
        .age= participation.age        
  .card-body 
     .row  
       .col-4.title 동기 
       .col-8.content 
         .motive= participation.motive
  .card-body 
    .row  
      .col-4.title note
      .col-8.content 
        .note=participation.note
