extends ../layout

block content
  .container
    h1.main-title= question.title

    .question.show

      h4 DATE AND TIME

      starts: .starts=question.starts 
      ends: .ends=question.ends
      h4 LOCATION
      .location=question.location
      h4 DESCRIPTION
      .event_description=question.event_description
      h4 ORGANIZER NAME
      .organizer_name=question.organizer_name
      h4 ORGANIZER DESCRIPTION
      .organizer_description=question.organizer_description
      h4 TICKETS
      .price=question.price
      h4 EVENT TYPE 
      .event_type=question.event_type
      h4 EVENT TOPIC 
      .event_topic=question.event_topic
      
      include _question

      .buttons
        button.btn.public #[i.fa.fa-thumbs-up] Like
        if question.author && currentUser && question.author.id == currentUser.id
          | 
          a.btn.public(href=`/questions/${question.id}/edit`) Edit
          | 
          a.btn.public(href=`/questions/${question.id}?_method=delete`) Delete
      
    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} Register(s)
      .answers.show
        each answer in answers
          include _answer
          
    form(action=`/questions/${question.id}/answers`, method='POST')
      .form-group
        label(for='answer') Register
        textarea.form-control(name="content", rows="5")
      button.btn.public(type="submit") REGISTER
